# entorno virtual
.venv/
venv/
.BondisAPPvenv/

# variables de entorno
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo

# herramientas
.pytest_cache/
.mypy_cache/

# sistema
.DS_Store
*.py[cod]
*$py.class

# extras innecesarios
*.log
archivo_procesado.csv